body {
  background-color: #14131a;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  padding-top: 40px;
}

.logo {
  display: inline-block;
  position: relative;
  margin-right: 50px;
  height: 71px;
  width: 46px;
}

.logo img {
  position: absolute;
  height: 100%;
  width: auto;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 30px;
}

.menu li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.film-date {
  display: block;
  margin-bottom: 38px;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}

.film-description {
  margin-top: 40px;
  max-width: 423px;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}
